@model AmitBytesBlog.Entity.SystemUser
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Create System User</h3>
    </div>
    <form role="form" asp-controller="SystemUser" asp-action="create" method="post" autocomplete="off">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="box-body">
            <div class="form-group">
                <label asp-for="UserName">Username</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName">Full Name</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile">Mobile</label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAdmin">Administrator</label>
                <div class="checkbox">
                    <input id="checkbox1" class="styled" asp-for="IsAdmin" type="checkbox">
                    <label for="checkbox1">
                        Administrator
                    </label>
                </div>
            </div>
        </div>
        <div class="box-footer">
           <input type="submit" class="btn btn-primary btn-sm" />
        </div>
    </form>
</div>

