
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AmitBytes | Log in</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/adminLte.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/fontawesome.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="bg-dark ">
    <div class="login-container">
        <div class="login-form">
            <div class="login-box-header bg-olive">
                <h3>AmitBytes Login Test</h3>
            </div>
            @await Component.InvokeAsync("SystemUser")
        </div>
    </div>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


