@{
    ViewData["Title"] = $"500 - Error";
    Layout = null;
}
<h1 class="text-danger">Error !! Internal server error</h1>
<a class="btn btn-primary btn-sm" asp-controller="home" asp-action="index">Homes</a>
