@{
    ViewData["Title"] = "Amit Bytes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Pager-->
<ul class="pagination">
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">First</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&#8249;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&#8250;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Last</span>
        </a>
    </li>
</ul>

<!--Posts-->

<div class="card mt-1 post">
    <div class="card-body">
        <h2 class="post-title"><a href="/2019/07/12/AspNet_core_forms_authentication" class="text-danger">AspNet Core Forms Authentication</a></h2>
        <p class="post-meta">
            <i class="fa fa-calendar"></i> 04-July-2019
            <i class="fa fa-edit"></i> Amit Singh
            <i class="fa fa-comments"></i> 2
            <i class="fa fa-tags"></i> AspNet Core
        </p>
        <p class="post-content">
            ASP.NET Core is as very rich cross-platform web application development
            framework that allows us to build an application that runs on Windows, MAC,
            and Linux. In this blog post, we will see how we can implement Cookie-based
            Authentication without AspNetCore Identity Framework.  Let's see steps required
            to implement this with below trivial example:
        </p>
        <a href="#" class="btn bg-danger post-btn">Read More</a>
    </div>
</div>
<div class="card mt-1 post">
    <div class="card-body">
        <h2 class="post-title"><a href="/2019/07/12/AspNet_core_forms_authentication" class="text-danger">AspNet Core Forms Authentication</a></h2>
        <p class="post-meta">
            <i class="fa fa-calendar"></i> 04-July-2019
            <i class="fa fa-edit"></i> Amit Singh
            <i class="fa fa-comments"></i> 2
            <i class="fa fa-tags"></i> AspNet Core
        </p>
        <p class="post-content">
            ASP.NET Core is as very rich cross-platform web application development
            framework that allows us to build an application that runs on Windows, MAC,
            and Linux. In this blog post, we will see how we can implement Cookie-based
            Authentication without AspNetCore Identity Framework.  Let's see steps required
            to implement this with below trivial example:
        </p>
        <a href="#" class="btn bg-danger post-btn">Read More</a>
    </div>
</div>
<div class="card mt-1 post">
    <div class="card-body">
        <h2 class="post-title"><a href="#" class="text-danger">AspNet Core Forms Authentication</a></h2>
        <p class="post-meta">
            <i class="fa fa-calendar"></i> 04-July-2019
            <i class="fa fa-edit"></i> Amit Singh
            <i class="fa fa-comments"></i> 2
            <i class="fa fa-tags"></i> AspNet Core
        </p>
        <p class="post-content">
            ASP.NET Core is as very rich cross-platform web application development
            framework that allows us to build an application that runs on Windows, MAC,
            and Linux. In this blog post, we will see how we can implement Cookie-based
            Authentication without AspNetCore Identity Framework.  Let's see steps required
            to implement this with below trivial example:
        </p>
        <a href="#" class="btn bg-danger post-btn">Read More</a>
    </div>
</div>
<div class="card mt-1 post">
    <div class="card-body">
        <h2 class="post-title"><a href="#" class="text-danger">AspNet Core Forms Authentication</a></h2>
        <p class="post-meta">
            <i class="fa fa-calendar"></i> 04-July-2019
            <i class="fa fa-edit"></i> Amit Singh
            <i class="fa fa-comments"></i> 2
            <i class="fa fa-tags"></i> AspNet Core
        </p>
        <p class="post-content">
            ASP.NET Core is as very rich cross-platform web application development
            framework that allows us to build an application that runs on Windows, MAC,
            and Linux. In this blog post, we will see how we can implement Cookie-based
            Authentication without AspNetCore Identity Framework.  Let's see steps required
            to implement this with below trivial example:
        </p>
        <a href="#" class="btn bg-danger post-btn">Read More</a>
    </div>
</div>
<div class="card mt-1 post">
    <div class="card-body">
        <h2 class="post-title"><a href="#" class="text-danger">AspNet Core Forms Authentication</a></h2>
        <p class="post-meta">
            <i class="fa fa-calendar"></i> 04-July-2019
            <i class="fa fa-edit"></i> Amit Singh
            <i class="fa fa-comments"></i> 2
            <i class="fa fa-tags"></i> AspNet Core
        </p>
        <p class="post-content">
            ASP.NET Core is as very rich cross-platform web application development
            framework that allows us to build an application that runs on Windows, MAC,
            and Linux. In this blog post, we will see how we can implement Cookie-based
            Authentication without AspNetCore Identity Framework.  Let's see steps required
            to implement this with below trivial example:
        </p>
        <a href="#" class="btn bg-danger post-btn">Read More</a>
    </div>
</div>
<div class="card mt-1 post">
    <div class="card-body">
        <h2 class="post-title"><a href="#" class="text-danger">AspNet Core Forms Authentication</a></h2>
        <p class="post-meta">
            <i class="fa fa-calendar"></i> 04-July-2019
            <i class="fa fa-edit"></i> Amit Singh
            <i class="fa fa-comments"></i> 2
            <i class="fa fa-tags"></i> AspNet Core
        </p>
        <p class="post-content">
            ASP.NET Core is as very rich cross-platform web application development
            framework that allows us to build an application that runs on Windows, MAC,
            and Linux. In this blog post, we will see how we can implement Cookie-based
            Authentication without AspNetCore Identity Framework.  Let's see steps required
            to implement this with below trivial example:
        </p>
        <a href="#" class="btn bg-danger post-btn">Read More</a>
    </div>
</div>
<div class="card mt-1 post">
    <div class="card-body">
        <h2 class="post-title"><a href="#" class="text-danger">AspNet Core Forms Authentication</a></h2>
        <p class="post-meta">
            <i class="fa fa-calendar"></i> 04-July-2019
            <i class="fa fa-edit"></i> Amit Singh
            <i class="fa fa-comments"></i> 2
            <i class="fa fa-tags"></i> AspNet Core
        </p>
        <p class="post-content">
            ASP.NET Core is as very rich cross-platform web application development
            framework that allows us to build an application that runs on Windows, MAC,
            and Linux. In this blog post, we will see how we can implement Cookie-based
            Authentication without AspNetCore Identity Framework.  Let's see steps required
            to implement this with below trivial example:
        </p>
        <a href="#" class="btn bg-danger post-btn">Read More</a>
    </div>
</div>
<div class="card mt-1 post">
    <div class="card-body">
        <h2 class="post-title"><a href="#" class="text-danger">AspNet Core Forms Authentication</a></h2>
        <p class="post-meta">
            <i class="fa fa-calendar"></i> 04-July-2019
            <i class="fa fa-edit"></i> Amit Singh
            <i class="fa fa-comments"></i> 2
            <i class="fa fa-tags"></i> AspNet Core
        </p>
        <p class="post-content">
            ASP.NET Core is as very rich cross-platform web application development
            framework that allows us to build an application that runs on Windows, MAC,
            and Linux. In this blog post, we will see how we can implement Cookie-based
            Authentication without AspNetCore Identity Framework.  Let's see steps required
            to implement this with below trivial example:
        </p>
        <a href="#" class="btn bg-danger post-btn">Read More</a>
    </div>
</div>
<div class="card mt-1 post">
    <div class="card-body">
        <h2 class="post-title"><a href="#" class="text-danger">AspNet Core Forms Authentication</a></h2>
        <p class="post-meta">
            <i class="fa fa-calendar"></i> 04-July-2019
            <i class="fa fa-edit"></i> Amit Singh
            <i class="fa fa-comments"></i> 2
            <i class="fa fa-tags"></i> AspNet Core
        </p>
        <p class="post-content">
            ASP.NET Core is as very rich cross-platform web application development
            framework that allows us to build an application that runs on Windows, MAC,
            and Linux. In this blog post, we will see how we can implement Cookie-based
            Authentication without AspNetCore Identity Framework.  Let's see steps required
            to implement this with below trivial example:
        </p>
        <a href="#" class="btn bg-danger post-btn">Read More</a>
    </div>
</div>
<div class="card mt-1 post">
    <div class="card-body">
        <h2 class="post-title"><a href="#" class="text-danger">AspNet Core Forms Authentication</a></h2>
        <p class="post-meta">
            <i class="fa fa-calendar"></i> 04-July-2019
            <i class="fa fa-edit"></i> Amit Singh
            <i class="fa fa-comments"></i> 2
            <i class="fa fa-tags"></i> AspNet Core
        </p>
        <p class="post-content">
            ASP.NET Core is as very rich cross-platform web application development
            framework that allows us to build an application that runs on Windows, MAC,
            and Linux. In this blog post, we will see how we can implement Cookie-based
            Authentication without AspNetCore Identity Framework.  Let's see steps required
            to implement this with below trivial example:
        </p>
        <a href="#" class="btn bg-danger post-btn">Read More</a>
    </div>
</div>


